.item {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  border: 1px solid #000000;
  &.single {
    border-radius: 0;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  > small {
    font-size: 16px;
  }
  .info {
    padding: 15px;
    display: grid;
    grid-gap: 10px;
  }
  a {
    height: 34px;
    border: 1px solid #000;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #d09595;
      color: #ffffff;
      border-color: #d09595;
    }
  }
  .description {
    margin: 0;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
  }
}
